<ul>
<% @hashtags.each do |item| %>
  <li> 
  <span class="avatar">
  <%= image_tag "#{item.profile_image_url}" %>
  </span>
  <span class="tweet">
    <strong>
       <a href="http://twitter.com/<%= item.from_user %>" target="_blank">
          <%= item.from_user %>
       </a>
    </strong>
     <%= item.created_at %>
    <p>
     <%= item.text %>
    </p> 
  </span> 
  </li>
<% end %>
</ul>
